body{
    background-color: black;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header */
#img1{
    float: left;
    width: 100px;
    margin: 10px 10px 10px 10px;
}
header{
    border: 10px solid green;
    border-radius: 500px;
}
#heading{
    color: red;
    text-align: center;
    text-decoration: underline blue;

}
#heading:hover{
    text-shadow: -10px -10px white;
}
#heading span{
    color: darkgreen;
}
#head2{
    color: blueviolet;
    text-decoration:double green;
    text-align: center;
}
#head2 span{
    color: grey;
}
/* End Header */
/* Footer */
footer{
    margin-top: auto;

}

/* End Footer */

/* Date and time  */
#labmove{
    padding-top: 10px;
    text-align: center;
    margin: 20px;
    font-size: 20px;
    color: darkgoldenrod;
    text-transform: uppercase;
    text-decoration: underline green;
}
